.header {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    max-width: 320px;
    margin: 0 auto;
}

@media screen and (min-width: 1280px) {
    .header {
        max-width: 880px;
    }
}